table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}
body { background-color: lightgreen;
}
	    h1 { text-align: center;
		 color:blue
			}